//Variables in SCSS
$gap: 4vh;
$padding: 4vh;
$color: #717ff8;

$bp: (
  mobile: 320px,
  tablet: 768px,
  dekstop: 1440px,
);

//Template for media breakpoint
@mixin query($display) {
  @each $key, $value in $bp {
    //defining max-width for different scren size
    @if ($display == $key) {
      @media (max-width: $value) {
        @content;
      }
    }
  }
}

//Remove the default css property in browser
* {
  margin: 0px;
  padding: 0px;

  // Changing the body here

  body {
    width: 100%;
    min-height: 100vh;
    font-family: "Outfit";
    font-size: 45px;
    box-sizing: border-box;
    // background: rgb(70, 70, 66);
    // background: linear-gradient(
    //   0deg,
    //   rgba(70, 70, 66, 1) 0%,
    //   rgba(114, 20, 218, 1) 71%
    // );
  }
}

// For larger screen
@media (max-width: 1650px) {
  .login__container {
    display: flex;
  justify-content: center;
  }
  .desc__img {
    margin: 3rem 0rem 0rem 2rem;
    img {
      height: 45rem;
      width: auto;
    }
  }
  .login__form {
    margin: 4rem 0rem 0rem 0rem;
    .login__hero__text {
      display: flex;
      flex-wrap: wrap;

      h1 {
        font-size: 4rem;
        font-weight: 500;
      }
      .icon {
        height: 7rem;
        width: 5rem;
        color: $color;
      }
    }
    .login__form__desc {
      font-size: 2rem;
      display: flex;
      flex-direction: column;
      font-weight: 400;
    }
    .login__form__button {
      display: flex;
      margin: 1rem 0rem 0rem 1.5rem;
      .login__google {
        button {
          display: flex;
          align-items: center;
          padding: 0.5rem 2rem 0.5rem 2rem;
          border: 2px solid $color;
          border-radius: 0.8rem;
          background-color: #ffffff;
          img {
            box-sizing: border-box;
            height: 3rem;
            width: 3rem;
          }
          .login__btn__text {
            margin: 0rem 0rem 0rem 0.5rem;
            font-size: 1.2rem;
            font-weight: 400;
          }
          &:hover {
            background-color: #30a2ff;
          }
        }
      }
      .login__apple {
        button {
          display: flex;
          align-items: center;
          padding: 0.5rem 3.7rem 0.5rem 2.6rem;
          margin: 0rem 0rem 0rem 2rem;
          border: 2px solid $color;
          border-radius: 0.8rem;
          background-color: #ffffff;
          img {
            box-sizing: border-box;
            height: 3rem;
            width: 3rem;
          }
          .login__btn__text {
            margin: 0rem 0rem 0rem 0.5rem;
            font-size: 1.2rem;
            font-weight: 400;
          }
          &:hover {
            background-color: #30a2ff;
          }
        }
      }
    }
    .login__form__input {
      .first__input {
        display: flex;
        flex-direction: column;

        input {
          width: 40rem;
          height: 4rem;
          box-sizing: border-box;
          padding: 0rem 0rem 0rem 1.2rem;
          border-radius: 0.8rem;
          border: 2px solid #ffffff;
          box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.25);
          margin: 2rem 0rem 0rem 0rem;
          font-size: 1.2rem;
          font-weight: 400;
        }
      }
      .second__input {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        input {
          width: 40rem;
          height: 4rem;
          box-sizing: border-box;
          padding: 0rem 0rem 0rem 1.2rem;
          border-radius: 0.8rem;
          border: 2px solid #ffffff;
          box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.25);
          margin: 2rem 0rem 0rem 0rem;
          font-size: 1.2rem;
          font-weight: 400;
        }
        a {
          font-size: 1.2rem;
          text-decoration: none;
          margin-left: 67%;
          margin-top: 0.5rem;
        }
      }
    }
    .login__button {
      width: 40rem;
      height: 4rem;
      border-radius: 0.8rem;
      background-color: #717ff8;
      border: none;
      font-size: 1.3rem;
      color: #ffffff;
      margin: 0rem 0rem 2rem 0rem;
      &:hover {
        background-color: #30a2ff;
      }
    }
  }
}

//
//
//
//Mobile or tablet view
[class^="login__form"] {
  //
  //
  //
  @include query(tablet) {
    margin-left: 0.5rem;
    margin-top: 1.5rem;
    .login__hero__text {
      display: flex;
      flex-wrap: wrap;
      margin: 0rem 0rem 0rem 0.5rem;
      h1 {
        font-size: 3.2rem;
        font-weight: 500;
      }
      .icon {
        width: 5rem;
        height: 5rem;
        color: $color;
      }
    }
    .login__form__desc {
      display: flex;
      flex-direction: column;
      margin: 0rem 0rem 0rem 0.5rem;
      p {
        line-height: 1.5em;
        font-size: 1.2rem;
        text-align: start;
      }
    }
    .login__form__button {
      display: flex;
      justify-content: space-evenly;
      margin: 0.8rem 0rem 0rem 0rem;
      .login__google {
        button {
          background-color: #ffffff;
          box-sizing: border-box;
          padding: 0.5rem 1rem 0.5rem 1rem;
          border-radius: 0.8rem;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px solid #717ff8;
          &:hover {
            background-color: #30a2ff;
            cursor: pointer;
          }
          img {
            height: 2rem;
            width: 2rem;
          }
          .login__btn__text {
            font-size: 1.2rem;
            margin-left: 0.4rem;
            font-weight: 400;
          }
        }
      }
      .login__apple {
        button {
          background-color: #ffffff;
          box-sizing: border-box;
          padding: 0.5rem 2.8rem 0.5rem 1rem;
          border-radius: 0.8rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 2px solid #717ff8;
          &:hover {
            background-color: #30a2ff;
            cursor: pointer;
          }
          img {
            box-sizing: border-box;
            height: 2rem;
            width: 2rem;
          }
          .login__btn__text {
            font-weight: 400;
            font-size: 1.2rem;
            margin-left: 0.4rem;
          }
        }
      }
    }
    .login__form__input {
      .first__input {
        margin: 1rem 1.8rem 0rem 0.5rem;
        display: flex;
        flex-direction: column;
        input {
          width: 25rem;
          padding: 0rem 0rem 0rem 1.5rem;
          height: 3rem;
          border-radius: 0.7rem;
          font-size: 1rem;
          line-height: 1rem;
          margin: 2rem 0rem 0rem 0rem;
          border: 2px solid #ffffff;
          box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.25);
        }
      }
      .second__input {
        display: flex;
        flex-direction: column;
        margin: 1rem 1.8rem 0rem 0.5rem;
        input {
          width: 25rem;
          padding: 0rem 0rem 0rem 1.5rem;
          height: 3rem;
          border-radius: 0.7rem;
          font-size: 1rem;
          line-height: 1rem;
          margin: 0.5rem 0rem 0rem 0rem;
          border: 2px solid #ffffff;
          box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.25);
        }
        a {
          text-decoration: none;
          color: #717ff8;
          font-size: 1.2rem;
          margin: 0.2rem 0rem 0rem 58%;
        }
      }
    }
    //FIXME: Making the button responsive

    .login__button {
      width: 26rem;
      height: 4rem;
      margin: 0rem 0rem 0rem 0rem;
      padding: 0rem 0rem 0rem 0rem;
      font-size: 1.5rem;
      color: #ffffff;
      background-color: #717ff8;
      border: none;
      border-radius: 1rem;
      font-weight: 400;
      line-height: 2rem;
      &:hover {
        background-color: #30a2ff;
        cursor: pointer;
      }
    }
    .desc__img {
      img {
        display: none;
        height: 300px;
        width: 200px;
      }
    }
  }
}
//
//
//Dekstop and big size
